body {
    background: url("../img/xo_bg.jpg");
}

.container {
    background: url("../img/xo_field.png") no-repeat;
    background-position: center;
    height: 450px;
    width: 650px;
    padding: 60px 0 0 100px;
}

nav {
    margin: 0;
}


#b__roll_1 {
    padding: 0;
    margin: 0;
    display: block;
}

#b__roll_1 li {
    float: left;
    display: block;
    padding-right: 30px;
    margin: 0;
}

#b__roll_1 a {
    text-decoration: none;
}

#b__roll_2 {
    padding: 0;
    margin: 0;
    display: block;
}

#b__roll_2 li {
    float: left;
    display: block;
    padding-right: 30px;
    padding-top: 30px;
    margin: 0;
}

#b__roll_2 a {
    text-decoration: none;
}

#b__roll_3 {
    padding: 0;
    margin: 0;
    display: block;
}

#b__roll_3 li {
    float: left;
    display: block;
    padding-right: 30px;
    padding-top: 20px;
    margin: 0;
}

#b__roll_3 a {
    text-decoration: none;
}

.but {
    display: block;
    width: 140px;
    height: 120px;
    background: url("");
}
